.Primary {
	align-items: center;
	background-color: #282c34;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	min-height: 100vh;
	text-align: center;
}

.Primary-nav {
	background-color: #21242b;
	flex-shrink: 1;
	padding: 0.5em;
	position: fixed;
	top: 0;
	width: 100%;
}

.Primary-link {
	color: #61dafb;
	text-decoration: none;
}

.Primary-main {
	margin-top: 2em;
}
